.contact{
    padding-bottom: 0;

}
.contact .title{
    margin-bottom: 2rem;
    text-align: center;

}
.contact-container{
    width: 60%;
    padding: 1rem 0;

}
.contact-container .title h2{
font-size: 1.2rem;
}
.contact-container .info{

    display: grid;
    grid-template-columns: repeat(3,1fr);
gap: 1.5rem;
margin-bottom: 3rem;

}
.contact-container .info .box{
    background: #f9bf3f;
    color: var(--color-text-2);
    padding: 1rem 2rem;
}
.contact-container  .info .box:nth-child(2){
background: #a84cb8;

}

.contact-container  .info .box:nth-child(3){
    background: var(--color-tertiary);
    
    }
    .contact-container .contact-form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 2rem;
    }
    .contact-container .contact-form .form-name{

        display: flex;
        gap: 1.2rem;
    }
    .contact-container .contact-form input,
    .contact-container .contact-form textarea{
        width: 100%;
        background: #f5f5ff;
    border-bottom: .2rem solid #f5f5ff;
    padding: 1rem;

    
    
    }
    .contact-form textarea{
        border-color: var(--color-secondary);

    } .contact-container .contact-form input:hover,
    .contact-container .contact-form input:focus{
        
    border-bottom: .2rem solid var(--color-secondary);
    

    
    
    }
    .contact-form .form-btn{
        margin: auto;
    }
    .contact-form .btn{
        max-width: 12rem;
    }
    .copyright{
        text-align: center;
        font-size: .9rem;
        margin-top: 3rem;
        padding: 1rem 0;
        background: #f5f5ff;
    }
    .copyright a{
        color: var(--color-primary);
    }
    @media (max-width:1100px) {
        .contact-container{
           width:90%;
           padding: 1rem 00;
        }

        
    }
    @media (max-width:576px) {
        .contact-container{
            width: 100%;
        }
        .contact-container .info{
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        
        }
        .contact-container .info .box{
            padding: 1rem;
        }
    }